
@{
    ViewBag.Title = "Home";
}

<h2>Get Your Very Own Fibonacci Sequence</h2>
<div>
    <p>To Test The first 15 of Fibonacci Sequence, Press the Test Button</p>
    @Html.ActionLink("FibTest", "FibTest", "FibHome", new { @class = "btn btn-test" })

</div>
