

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_DefaultLayout</title>
   
</head>

<body>
    <h1>Fibonacci Sequence Website!</h1>
    <div> 
        @RenderBody()
    </div>
    <div>
        <footer>
            <p>&copy; 2017 Presented by Devonte Holmes</p>
        </footer>
    </div>
</body>
</html>
